/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body {font-family: 'GeosansLightRegular', century gothic, arial, sans-serif; margin: 0; font-size: 16px; line-height: 1.231; letter-spacing:2px; background:#000;}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a{ color: #cdc2ce; text-decoration: none;
	text-decoration:none;-moz-transition: all .10s linear .1s;
		-webkit-transition: all .10s linear .1s;
		-o-transition: all .10s linear .1s;	
		transition: all .10s linear .1s;
 }
a:visited { color: #fff; }
a:hover { color: #ff6699; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; padding:6px; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
h1,h2,h3{
	font-weight: normal;
}
	@font-face {
	    font-family: 'GeosansLightRegular';
	    src: url('../fonts/geosanslight-webfont.eot');
	    src: url('../fonts/geosanslight-webfontd41d.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/geosanslight-webfont.woff') format('woff'),
	         url('../fonts/geosanslight-webfont.ttf') format('truetype'),
	         url('../fonts/geosanslight-webfont.svg#GeosansLightRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	
	}
p{color:#ccc; font-weight:normal; margin:0 0 15px 0;}
ul{
	list-style-type: none;
}
ul.fixed{
	position:fixed;
	z-index:1000;
	top: 2px;
		
}
ul.nav{
	right: 0;
	text-align: center;
	text-transform: uppercase;
	background: url(../img/nav-bg.png) center top no-repeat;
	font-size: 30px;
	font-weight: lighter;
	padding: 50px 20px 100px 20px;
}

ul.social{
	left:0;
	top: 50px;
	padding-left:10px;
}
ul.social li{
	text-indent: -9999em;
	line-height:1;
}
ul.social li a{
	width: 40px;
	float: left;
	padding-bottom: 15px;	
	margin-bottom: 15px;
}
ul.social li:nth-child(1) a{
	background: url(../img/img-twitter.png) no-repeat;
}
ul.social li:nth-child(1) a:hover{
	background-position: 0 -31px;
}
ul.social li:nth-child(2) a{
	background: url(../img/img-facebook.png) 7px 0 no-repeat;
	padding-bottom: 26px;
}

ul.social li:nth-child(2) a:hover{
	background-position: 7px -42px;
}
ul.music{
	display: block;
}
ul.music li{
	display: inline;
	font-size: 20px;
	margin: 0 0 0 10px;
	color:#C12267;
}
.story { height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; border-top: 1px solid rgba(255,255,255,0.3); border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 50px rgba(0,0,0,0.8);}

#first { background: url(../img/slide1.jpg) 50% 0 no-repeat fixed; }
#second { background: url(../img/slide2.jpg) 50% 0 no-repeat fixed; }
#third { background: url(../img/slide3.jpg) 50% 0 no-repeat fixed; }
/* Introduction */
#first .logo { background: url(../img/bs-logo.png) 50% 0px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto;}
#first article { width: 100%; top: 200px; position: absolute;}
#first p{
	font-size: 36px;
	float:left
}
#first img{
	float:left;
}
#first img.cover{
	position:absolute;
	z-index:1;
}
#first .album{
	position:absolute;
	margin-left:-300px;
}
#first img.cd{
	position:absolute;
	z-index:0;
	left: 60px;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
#first img.cd:hover{
	left: 100px;
}
#first .intro{
	width: 435px;
	margin: 0 auto;
}
#first article h2, #first article h3, #first article ul{
	text-align:right;
	font-family:century gothic, 'GeosansLightRegular', arial, sans-serif;
	font-weight: lighter;
}
#first .intro h2{
	font-size: 41px;
	color:#cdc2ce;
	margin:0 0 0 0;
}
#first .intro h3{
	font-size: 60px;
	margin: 0;
	color:#C12267;
	text-transform: uppercase;
}
#first .intro h3 span{
	color: #f660ab;
}
/* Background Only */
#second { padding:7% 0 50px 0;}
#second article { background:#000;background:rgba(0,0,0,0.7); color: #fff; width: 825px; margin-left: 100px; padding: 10px 20px; box-shadow: 0 0 25px rgba(0,0,0,0.3); position:absolute; z-index:1;}
/*#second article:after{content:""; background:url(../img/bio-tri.png) no-repeat; position:absolute; top:347px; left:202px; width:332px; height:263px; z-index:-1;}*/
#second article p { margin-bottom: 25px; font-size:1.2em; }
#second article h2, #second article h3{text-transform:uppercase;}
#second article h2{background:#2e123a;margin-left:-20px; padding-right:15px; clear:both; display:inline-block;}
#second article h3{clear:both; text-indent:-9999em; background:transparent; width:428px; height:100px;}
#second article a, #second article span{color:#ff6699;}
/* Photograph */
#third article {background:#ccc;  background:rgba(0,0,0,0.8); color: #fff; padding: 10px 20px; margin: 145px 0 0 13%; line-height: 1.5em; color: #fff; position: absolute; top: 0; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); width: 600px;z-index:1;}
/*#third article:before{content:""; background:url(../img/contact-tri.png) no-repeat; position:absolute; top:-103px; left:-93px; width:332px; height:263px; z-index:-1;}*/
#third article p {  margin-bottom: 25px; font-size:1.6em; line-height:1.2em;}
#third article h2{color:#118ca2;text-transform:uppercase; font-size:3em; text-shadow: 1px 1px 0 rgba(0,0,0,0.5);}
#third form{
	background: url(../img/bg-form.png) no-repeat;	
	width: 100%;
	padding: 5px 0;
	margin-bottom: 30px;
}
#third input[type="email"], #third input[type="submit"]{
	background: none;
	border: none;
	color: #fff;
	font-family: 'GeosansLightRegular', century gothic, arial, sans-serif;
	font-size: 24px;
	letter-spacing:2px;
}
#third input[type="email"]{
	padding-left:5px ;
}
#third input[type="submit"]{
	text-decoration: underline;
	float: right;
}

#third ul{
	text-align:center;
	padding: 0;
}
#third ul li a{
	color:#bd838b;
}
#third ul li a:hover{
	color: #fff;
}

#third p span{
	color: #118ca2;
}
#third small, #third p:last-child{
	font-size: 1.1em;
	text-align: center;
}
#third small a{
	color: #BD838B;
}
/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }